name: Dart CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: google/dart:latest

    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: pub get
      - name: Run tests
        run: pub run test
      - name: Run publish --dry-run
        run: pub publish --dry-run
    # - name: Coveralls GitHub Action
    #   uses: coverallsapp/github-action@v1.0.1
    #   with:
    #     github-token: ${{ secrets.COVERALLS_MS_MAP_UTILS_TOKEN }}
